
.DP-wrapper{    
    width: 100%;    
    min-height: 100vh;
    padding: 30px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;   
    gap: 5px 20px; 
}
@media (max-width: 1200px) {
    .DP-wrapper{
        flex-direction: column;        
    }
}

.DP-img-area{     
    width: 600px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(8,7,16,0.6);   
    margin: 5px;   
}

.DP-inner-area{ 
    position: relative;
    width: fit-content;
    height: fit-content;   
    padding: 8px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(8,7,16,0.6);   
     
    padding: 0;
    background-color: #fff;   
}

.DP-img{    
    width: 100%;
    transition: all 0.5 ease-in-out;               
}

@media (max-width: 700px) {
    .DP-img-area{
        width: 90%;
        height: fit-content;
    }        
}

.DP-inner-area:hover{
    transform: scale(1.2);
}

.DP-star-icon{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;    
}
.DP-span-icon{
    position: absolute;
    top: 23px;
    left: 8px;
    width: 60px;
    color: whitesmoke;
    z-index: 300;
    font-size: 25px;
}

.DP-description-area{
    display: flex;
    justify-content: space-between;   
    flex-direction: column;
    padding: 30px 10px;
    height: 100%;    
    width: 500px;
}
@media (max-width: 500px) {
    .DP-description-area{
        width: 100%;        
    }
}

.DP-badges{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    flex-direction: row;   
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(8,7,16,0.6);   
    margin-bottom: 8px;    
}

.DP-evolutions{
    flex-direction: column;
}

@media (max-width: 1300px) {
    .DP-evolutions{
        flex-direction: row; 
    }
   
}
.DP-badges a{
    text-decoration: none;
}

.DP-name{                        
    font-size: 24px;
    font-weight: 500;    
    padding: 8px;    
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.DP-about{
    color: #020000ab;
    font-weight: 400;
    font-size: 20px;
    margin: 0 5px;
    text-transform: capitalize;
}

.DP-stats-title{
    text-align: center;
    font-size: 25px;
}

.DP-stats{
    text-align: start;    
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(8,7,16,0.6);   
    margin-bottom: 8px
}

.DP-stats-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    
}
@media (max-width: 550px) {
   .DP-stats-items{
       height: fit-content;
   } 
}


.DP-ability-icons{
    margin: 15px 0 25px 0;
   
}
.DP-ability-icons a{
     position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}                       

.DP-ability-icons a:hover::before,
.DP-icon:hover::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background: #ecf0f3c2;
    box-shadow: inset -3px -3px 7px #ffffff;
    color: black;
                  
}

.DP-ability-icons a i{
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 35px;
}
    .DP-ability-icons a:nth-last-child(1) i{
        color: #13d151;
    }
    .DP-ability-icons a:nth-last-child(2) i{
        color: #e6ba12;
    }
    .DP-ability-icons a:nth-last-child(3) i{
        color: #1da9e9;
    }
    .DP-ability-icons a:nth-last-child(4) i{
        color: #f23400;
    }

    
.DP-ability-icons a,
.DP-buttons a  {
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 5px 15px rgba(8,7,16,0.6);
    
}
.DP-buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 5px;
    margin-bottom: 8px;
}

.DP-buttons a {   
    text-decoration: none;
    width: 49%;
    padding: 10px;
    color: black;
    font-size: 20px;
}

.DP-buttons a:active {   
    box-shadow: 0 0 10px black inset;
}
