.MT-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MT-wrap h1 {
    margin-bottom: 20px;
}

.MT-list{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 20px;
}